{% extends "layout.html" %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/skillset.css">
{% endblock %}
{% block title %}Skillset | Shreyash Pandey – Backend Developer{% endblock %}

{% block content %}    

<section class="container_skillset" aria-label="Skillset">
    

    <article class="langs">
        <h2 class="title">Programming Languages</h2>
        <p class="languages">Here are the programming languages I work with:</p>
        <div class="carousel" aria-label="Programming Languages Carousel">
            
            <figure class="card">
                <img src="{% static 'resources/python.png' %}" alt="Python logo" class="skill_lang">
                <figcaption>Python</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/java.png' %}" alt="Java logo" class="skill_lang">
                <figcaption>Java</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/html-5.png' %}" alt="HTML5 logo" class="skill_lang">
                <figcaption>HTML</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/css.png' %}" alt="CSS3 logo" class="skill_lang">
                <figcaption>CSS</figcaption>
            </figure>

        </div>
    </article>

    
    <article class="tools">
        <h2 class="title">Tools & Frameworks</h2>
        
        <h3 class="languages">Frameworks</h3>
        <div class="carousel" aria-label="Frameworks Carousel">
            
            <figure class="card">
                <img src="{% static 'resources/django.png' %}" alt="Django logo" class="skill_lang">
                <figcaption>Django</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/flask-removebg-preview.png' %}" alt="Flask logo" class="skill_lang">
                <figcaption>Flask</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/bootstrap.png' %}" alt="Bootstrap logo" class="skill_lang">
                <figcaption>Bootstrap</figcaption>
            </figure>

        </div>

        <!-- Tools -->
        <h3 class="languages">Tools</h3>
        <div class="carousel" aria-label="Tools Carousel">
            
            <figure class="card">
                <img src="{% static 'resources/git-.png' %}" alt="Git logo" class="skill_lang">
                <figcaption>Git</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/social.png' %}" alt="GitHub logo" class="skill_lang">
                <figcaption>GitHub</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/vs.png' %}" alt="VS Code logo" class="skill_lang">
                <figcaption>VS Code</figcaption>
            </figure>
            
            <figure class="card">
                <img src="{% static 'resources/figma.png' %}" alt="Figma logo" class="skill_lang">
                <figcaption>Figma</figcaption>
            </figure>

        </div>
    </article>

</section>
<script>
        function toggleMenu() {
            document.querySelectorAll('.bt')[0].classList.toggle('active');
    }
    </script>
    
{% endblock %}